#!/bin/bash
#/etc/systemd/system/trans.service
[Unit]
Description=iMyMax auth service

[Service]
Type=simple
User=max
WorkingDirectory=/home/max/acquiring/
ExecStart=/home/max/acquiring/trans.sh
UMask=000
Restart=always

[Install]
WantedBy=multi-user.target